<div class="footer">
   <div class="parent">
    <div class="child">
         <a href="https://www.facebook.com/profile.php?id=100009321239883" target="_blank">
            <img src="./assets/images/fb.png" alt="" height="70px" width="70px">
         </a>
    </div>
    <div class="child">
        <a href="https://github.com/toughguyas" target="_blank">
            <img src="./assets/images/gt.png" alt="" height="70px" width="70px">
         </a>
    </div>
    <div class="child">
        <a href="https://www.linkedin.com/in/akash-srivastava-2a996317a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BxqSP6TbQT%2B2qWVtNIejfdA%3D%3D" target="_blank">
            <img src="./assets/images/li.png" alt="" height="70px" width="70px">
         </a>

    </div>
    <div class="child">
        <a href="https://leetcode.com/akashsri1512/" target="_blank">
            <img src="./assets/images/ltt.png" alt="" height="70px" width="70px">
         </a>
    </div>

   </div>
   <div style="text-align: center; margin: 50px;">
    <span style="color: whitesmoke; font-size: 2vw;">
        Copyright ©2023 All rights reserved | License from MIT.
    </span>
   </div>
</div>