<div class="row nav-head" *ngIf="!navToggle">
    <div class="col-4 ">
        <img class="logo-margin" src="./assets/images/ownlogo.png" alt="" height=" 80px" width="200px">    
    </div>
    <div class="col-8 row">
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
            Home
        </h3>
       </div>
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
            About
        </h3>
       </div>
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
            Resume
        </h3>
       </div>
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
            Services
        </h3>
       </div>
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
            Projects
        </h3>
       </div>
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
           Blog
        </h3>
       </div>
       <div class="col-1 nav-magin hover-underline-animation">
        <h3>
            Contact
        </h3>
       </div>
    </div>
</div>
