<div class="text-center">
    <h1 style="font-size: 50px; font-weight: bolder;">CONTACT ME</h1>
</div>
<div class="row">
    <div class=" col-lg-3  col-12 card">
        <img src="./assets/images/location.png" alt="" height="50px" width="50px">
        <span class="txt" >
            56/3a Rajan seth Line,<br>Belur Math,Howrah-711202
        </span>
    </div>
    <div class="col-lg-3  col-12 card">
        <img src="./assets/images/call.png" alt="" height="50px" width="50px">
        <span class="txt" [innerHTML]="'+91 7980237256'">
        </span>
    </div>
    <div class="col-lg-3  col-12 card">
        <img src="./assets/images/message.png" alt="" height="50px" width="50px">
        <span class="txt" [innerHTML]="'akashsri1512@gmail.com'">
        </span>
    </div>
    <div class="col-lg-3  col-12 card">
        <img src="./assets/images/webs.png" alt="" height="50px" width="50px">
        <a href="https://toughguyas.github.io/akash-portfolio.github.io/"> <span class="txt" >
            https://toughguyas.github.io/<br>akash-portfolio.github.io/
        </span></a> 
    </div>

</div>