.text-center{
    text-align: center;
}
.parent{
    display: flex; flex-wrap: wrap; margin: 0px;
}
a{
    align-items: center;
}
.btn{
    font-size: 3vw;
    color: white;
    background-color: blue;
    border-radius: 50px;
    
}
.inp{
    font-size: 2vw;
}
#searchBox {
    color: white;
    margin-right: 10px;
    padding: 20px;
  }
  
  #searchBox input {
    font-size: 200%;
    width: 100px;
  }