<div class="text-center">
    <h1 style="font-size: 50px">PROJECTS</h1>
</div>

    <div class="row ml-2">
        <div  class="col-lg-5 col-md-5 m-2">
            <a href="https://toughguyas.github.io/akash-portfolio.github.io/" target="_blank">
                <img src="./assets/images/a.png" alt="Avatar" >
            </a>             
        </div>
      
        <div class="col-lg-5 col-md-5  m-2" >
            <a href="https://toughguyas.github.io/background-generator-X.github.io/" target="_blank">
                <img src="./assets/images/b.png" alt="Avatar" >
            </a>        </div>
        <div class="col-lg-5 col-md-5  m-2">
            <a href="https://toughguyas.github.io/vjcollection.github.com/" target="_blank">
                <img src="./assets/images/c.png" alt="Avatar" >
            </a>    
        </div>
        <div class="col-lg-5 col-md-5  m-2">
            <a href="https://github.com/toughguyas/smart" target="_blank">
                <img src="./assets/images/dd.jpg" alt="Avatar" >
            </a>
        </div>
</div>

