<div class="navigation-header">
    <div class="row">
        <div class="col-12">
            <marquee  behavior="scroll" direction="left">  
                <div  class="parent">
                    <div class="child-one">
                        <H1>
                            HI I AM AKASH SRIVASTAVA ! WELCOME TO MY WEBSITE.
                        </H1>
                    </div>
                    <div class="child-two">
                        <img src="./assets/images/portfolio-logo.png" alt="" height=" 60px">
                    </div>
                </div>    
            </marquee> 
        </div>
    </div>
</div>
<div class="cover-width">
    <div class="containeri">
        <img src="./assets/images/cover-image-one.jpg" alt="" height="500px" width="100%">
        <button type="button" class="btn">Enter My World</button>
    </div>
</div>
