<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9357ee35af3a954cedd7b7e4c/a4b216a28e96834a5cd4c692b.js");</script>
<div id="header">
  <app-navigational-header></app-navigational-header>
</div>
<div>
  <app-cover id="home"></app-cover>
</div>
<div class="container-fluid" id="AboutMe">
  <app-resume></app-resume>
</div>
<div id="resume">
  <div >
    <app-my-curriculum [edu]="edu" [exp]="exp" [skills]="skills" [award]="award"></app-my-curriculum>
  </div>
</div>
<div class="mt-5 mb-5" id="services">
  <app-services></app-services>
</div>
<div class="container mt-5 mb-5" id="projects">
  <app-projects></app-projects>
</div>
<div class="container mt-5 mb-5" id="contacts">
  <app-contacts></app-contacts>
</div>
<div class="mt-5" id="footer">
  <app-footer></app-footer>
</div>
