<div class="text-center">
    <h1 style="font-size: 50px;font-weight: bold;">SERVICES</h1>
    <span style="font-size: 20px; margin-top: 20px; margin-bottom: 20px; color: silver;" [innerHTML]="assignwork">

    </span>
</div>
<div class="parent">
    <div class="card">
      <img src="./assets/images/web-design.png" alt="" height="50px" width="50px">
      <h1 style="padding-top: 40px; font-size: 20px; text-decoration: underline;">
        WEB DESIGN
      </h1>
      <span style="color: silver; padding-top: 40px;font-size: 15px;">
        If you think math is hard, try web design.
      </span>
    </div>
    <div class="card">
      <img src="./assets/images/phil.png" alt="" height="50px" width="50px">
      <h1 style="padding-top: 40px; font-size: 20px; text-decoration: underline;">
        DIGITAL ADVERTISEMENT
      </h1>
      <span style="color: silver; padding-top: 40px;font-size: 15px;">
        It’s hard to find things that won’t sell online.
      </span>
    </div>
    <div class="card">
      <img src="./assets/images/web.png" alt="" height="50px" width="50px">
      <h1 style="padding-top: 40px; font-size: 20px; text-decoration: underline;">
        WEB DEVELOPER
      </h1>
      <span style="color: silver; padding-top: 40px;font-size: 15px;" [innerHTML]="'It’s not a bug. It’s an undocumented feature!'">
        
      </span>
    </div>
    <div class="card">
      <img src="./assets/images/app.png" alt="" height="50px" width="50px">
      <h1 style="padding-top: 40px; font-size: 20px; text-decoration: underline;">
        APP DEVELOPER
      </h1>
      <span style="color: silver; padding-top: 40px;font-size: 15px;">
        People have enemies app developers have bugs.
      </span>
    </div>
    <div class="card">
      <img src="./assets/images/brand.png" alt="" height="50px" width="50px">
      <h1 style="padding-top: 40px; font-size: 20px; text-decoration: underline;">
        BRANDING
      </h1>
      <span style="color: silver; padding-top: 40px;font-size: 15px;">
        A brand is a voice and a product is a souvenir.
      </span>
    </div>
    <div class="card">
      <img src="./assets/images/product.png" alt="" height="50px" width="50px">
      <h1 style="padding-top: 40px; font-size: 20px; text-decoration: underline;">
        PRODUCT STRATEGY
      </h1>
      <span style="color: silver; padding-top: 40px;font-size: 15px;">
        Strategy is figuring out what not to do.
      </span>
    </div>

</div>