<div class="row" id="content-desktop">
    <div class="col-6">
       <img class="my-photo" src="./assets/images/myphoto.jpeg" alt="">
    </div>
    <div class="col-6">
        <div class=" mt-5 mb-5">
            <h1 class="about">
                About Me
            </h1>
        </div>
        <div class="mt-5 mb-5">
            <h6 class="desc">
                An avid Learner having passion for continuous development of technical as well as inter personal
skills. Having Proficiency in Full Stack Development. Love to experiment on different technologies.
Possess Agility, Flexibility and great taste for Problem Solving. Currently Working on JAVA/J2EE ,
Spring Frameworks, JPA , REST Architecture, Microservices using Spring Boot and Responsive frontend
using HTML5, CSS3,JavaScript,Bootstrap, Angular.
Skills
            </h6>
        </div>
        <div class="mt-5 mb-5">
            <ul class="no-bullets">
                <li>
                    <span class="info">
                        Name:
                    </span>
                    <span class="info-ans">
                        Akash Srivastava
                    </span>
                </li>
                <li>
                    <span class="info">
                        Date Of Birth:
                    </span>
                    <span class="info-ans">
                        15th December,1998
                    </span>
                </li>
                <li>
                    <span class="info">
                        Address:
                    </span>
                    <span class="info-ans">
                        BELUR,KOLKATA,WEST BENGAL
                    </span>
                </li>
                <li>
                    <span class="info">
                        Zip Code:
                    </span>
                    <span class="info-ans">
                        711202
                    </span>
                </li>
                <li>
                    <span class="info">
                        Email:
                    </span>
                    <span class="info-ans">
                        akashsri1512@gmailcom
                    </span>
                </li>
                <li>
                    <span class="info">
                        Contact:
                    </span>
                    <span class="info-ans">
                        7980237256
                    </span>
                </li>
            </ul>

        </div>
        <div class="mt-5 mb-5">
            <a href="./assets/resume.pdf" download="AAKASH_RESUME">
                <button type="button" class="btn btn-primary btn-lg downlbtn" download="">Download CV</button>
            </a>
        </div>
    </div>   
</div>

<div class="row mobile-about" id="content-mobile">
    <div class="col-12">
        <div class=" mt-5 mb-5">
            <marquee direction="right">
             <h1 class="about-mobile">
                About Me
            </h1>
           </marquee>
            
        </div>
        <div class="mt-5 mb-5">
            <h6 class="desc-mobile">
                An avid Learner having passion for continuous development of technical as well as inter personal
skills. Having Proficiency in Full Stack Development. Love to experiment on different technologies.
Possess Agility, Flexibility and great taste for Problem Solving. Currently Working on JAVA/J2EE ,
Spring Frameworks, JPA , REST Architecture, Microservices using Spring Boot and Responsive frontend
using HTML5, CSS3,JavaScript,Bootstrap, Angular.
Skills
            </h6>
        </div>
        <div class="mt-5 mb-5">
             <ul class="no-bullets">
                <li>
                    <span class="info-mobile">
                        Name:
                    </span>
                    <span class="info-ans-mobile">
                        Akash Srivastava
                    </span>
                </li>
                <li>
                    <span class="info-mobile">
                        Date Of Birth:
                    </span>
                    <span class="info-ans-mobile">
                        15th December,1998
                    </span>
                </li>
                <li>
                    <span class="info-mobile">
                        Address:
                    </span>
                    <span class="info-ans-mobile">
                        BELUR,KOLKATA,WEST BENGAL
                    </span>
                </li>
                <li>
                    <span class="info-mobile">
                        Zip Code:
                    </span>
                    <span class="info-ans-mobile">
                        711202
                    </span>
                </li>
                <li>
                    <span class="info-mobile">
                        Email:
                    </span>
                    <span class="info-ans-mobile">
                        akashsri1512@gmailcom
                    </span>
                </li>
                <li>
                    <span class="info-mobile">
                        Contact:
                    </span>
                    <span class="info-ans-mobile">
                        7980237256
                    </span>
                </li>
            </ul> 
             <!-- <table>
                <tr>
                    <td class="info-mobile">
                        Name:
                    </td>
                    <td class="info-ans-mobile">
                        Akash Srivastava
                    </td>
                </tr>
                <tr>
                    <td class="info-mobile">
                        Date Of Birth:
                    </td>
                    <td class="info-ans-mobile">
                        15th December,1998
                    </td>
                </tr>
                <tr>
                    <td class="info-mobile">
                        Address:
                    </td>
                    <td class="info-ans-mobile">
                        BELUR,KOLKATA,WEST BENGAL
                    </td>
                </tr>
                <tr>
                    <td class="info-mobile">
                        Zip Code:
                    </td>
                    <td class="info-ans-mobile">
                        711202
                    </td>
                </tr>
                <tr>
                    <td class="info-mobile">
                        Email:
                    </td>
                    <td class="info-ans-mobile">
                        akashsri1512@gmailcom
                    </td>
                </tr>
                <tr>
                    <td class="info-mobile">
                        Contact:
                    </td>
                    <td class="info-ans-mobile">
                        7980237256
                    </td>
                </tr>
             </table> -->
        </div>
        <div class="mt-5 mb-5">
            <a href="./assets/resume.pdf" download="AAKASH_RESUME">
                <button type="button" class="btn btn-primary btn-lg downlbtn" download="">Download CV</button>
            </a>
        </div>
    </div> 

</div>