<div class="row">
    <div class="col-3 nav">
        <h1>
           akash
        </h1>
   </div>
   <div class="col-9">
       <h1 style="font-size: 190px;">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quia illo doloribus quis sit, ut, quibusdam dignissimos dicta rem omnis cumque dolorem eligendi! Nobis, dignissimos quo mollitia praesentium cum voluptatum?
       
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis quo recusandae doloremque, qui iste itaque. Ipsa qui minus modi sed, distinctio perspiciatis iure sunt fugit inventore culpa sapiente est. </h1>
   </div>
</div>
