<div class="row">
    <div class="col-4 side-bar">
        <div>
            <h3 class="link">
                <a [ngClass]="{'highlight': edu}" routerLink="" fragment="" (click)="goto('Education')" routerLink="" fragment="educations">
                    Education
                </a>
            </h3>
        </div>
        <div>
            <h3 class="link">
                <a [ngClass]="{'highlight': exp}" routerLink="" fragment="" (click)="goto('Experience')" routerLink="" fragment="experience">
                    Experience
                </a>
            </h3>
        </div>
        <div>
            <h3 class="link">
                <a [ngClass]="{'highlight': skills}" routerLink="" fragment="" (click)="goto('Skills')" routerLink="" fragment="skills">
                    Skills
                </a>
            </h3>
        </div>
        <div>
            <h3 class="link">
                <a [ngClass]="{'highlight': award}" routerLink="" fragment="" (click)="goto('Awards')" routerLink="" fragment="Awards">
                    Awards
                </a>
            </h3>
        </div>
        <div>
            <img src="./assets/images/run.gif" alt="" width="100%" height="600vh">
        </div>
    </div>
    <div class="col-8 right-part">
        <div class="mb-5" id="educations">
            <div class="pt-2 pb-2">
                <h1 class="edu">
                    Educations
                </h1>
            </div>
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/education.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2014-2015
                    </h1>
                    <div>
                        <h1 class="school">
                            Secondary School
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            LITTLE STAR HIGH SCHOOL
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            I scored 90% in my class 10th examination in science stream.
                            In class 10 my favourite subject mathematics.I was very studious student in class 10.My
                            class 10 board name was ICSE.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/education.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2015-2017
                    </h1>
                    <div>
                        <h1 class="school">
                            Higher Secondary School
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            Nopany High
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            I scored 86% in my class 10th examination in science stream.
                            In class 12 my favourite subject mathematics.I was very studious student in class 12.My
                            class 12 board name was ISC.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/education.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2017-2021
                    </h1>
                    <div>
                        <h1 class="school">
                            Bachelor of Enginnering
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            Haldia Institute Of Technology
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            I scored 8.77 cgpa in my class Btech examination in Electronics and communication stream.
                            In Btech my favourite subject computer science.I was very studious student in Btech.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/education.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2020
                    </h1>
                    <div>
                        <h1 class="school">
                            web Development
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            Udemy
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            This was complete web development course instructed by Andreai Neagoie hosted by udemy.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/education.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2020
                    </h1>
                    <div>
                        <h1 class="school">
                            Python Programming
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            Cousera
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            This was python programming course hosted my coursera.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/education.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2020
                    </h1>
                    <div>
                        <h1 class="school">
                            Data structures and Algorithm
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            Geeks For geeks
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            This was DSA programming course hosted my gfg.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
        </div>
        <div class="mb-5" id="experience">
            <div class="pt-2 pb-2">
                <h1 class="edu">
                    Experience
                </h1>
                <div class="pt-5 pb-5" style="display: flex;">
                    <div>
                        <img src="./assets/images/exp.png" alt="" height="50px" width="50px">
                    </div>
                    <div>
                        <h1 class="year">
                            2021-Currently Working
                        </h1>
                        <div>
                            <h1 class="school">
                                Full stack Developer
                            </h1>
                        </div>
                        <div>
                            <h1 class="school">
                                Infosys
                            </h1>
                        </div>
                        <div>
                            <h1 class="school-per">
                                I am currently working in infosys as java full stack devloper.
                                skills i used here are java, springboot, Angular, graphql.
                            </h1>
                        </div>
                    </div>
                </div>
                <hr style="width: 100%;">
            </div>
            <div class="pt-5 pb-5" style="display: flex;">
                <div>
                    <img src="./assets/images/exp.png" alt="" height="50px" width="50px">
                </div>
                <div>
                    <h1 class="year">
                        2021-Currently contributing
                    </h1>
                    <div>
                        <h1 class="school">
                            Zero To Mastery
                        </h1>
                    </div>
                    <div>
                        <h1 class="school">
                            Github open source project
                        </h1>
                    </div>
                    <div>
                        <h1 class="school-per">
                            I here contribute on open source project.
                        </h1>
                    </div>
                </div>
            </div>
            <hr style="width: 100%;">
        </div>
        <div class="mb-5" id="skills">
            <div class="pt-2 pb-2">
                <h1 class="edu">
                    Skills
                </h1>
            </div>
            <div class="parent">
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            HTML - 80%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 75%, pink 0); ">
                        <progress value="75" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            CSS - 75%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 60%, pink 0); ">
                        <progress value="60" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            JavaScript - 60%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 90%, pink 0); ">
                        <progress value="90" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            Typescript - 90%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 90%, pink 0); ">
                        <progress value="90" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            Angular - 90%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            Java - 80%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            springboot - 80%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            spring rest - 80%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            Microservices - 80%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            Jsp - 80%
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <!-- <progress value="75" min="0" max="100">75%</progress> -->
                    <div class="progress-bar" style="background: 
                radial-gradient(closest-side, white 79%, transparent 80% 100%),
                conic-gradient(hotpink 80%, pink 0); ">
                        <progress value="80" min="0" max="100"
                            style="visibility:hidden;height:0;width:0;">75%</progress>
                    </div>
                    <div>
                        <h1 class="tag">
                            servelets - 80%
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5" id="Awards">
            <div class="pt-2 pb-2">
                <h1 class="edu">
                    Awards
                </h1>
            </div>
            <div style="display: flex; padding-bottom: 20px;">
                <div>
                    <img src="./assets/images/prize.png" alt="" height="60px" width="60px">
                </div>
                <div>
                    <h1 style="padding-top: 20px;">
                       Rank 38 in july long challenge in codechef.
                    </h1>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 20px;">
                <div>
                    <img src="./assets/images/prize.png" alt="" height="60px" width="60px">
                </div>
                <div>
                    <h1 style="padding-top: 20px;">
                        Codechef has *** stars
                    </h1>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 20px;">
                <div>
                    <img src="./assets/images/prize.png" alt="" height="60px" width="60px">
                </div>
                <div>
                    <h1 style="padding-top: 20px;">
                        Leetcode has *** stars.
                    </h1>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 20px;">
                <div>
                    <img src="./assets/images/prize.png" alt="" height="60px" width="60px">
                </div>
                <div>
                    <h1 style="padding-top: 20px;">
                       Infosys certified java programmer.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>